services:
  crawler:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stac-crawler
    # restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    networks:
      - stac-network

networks:
  stac-network:
    external: true
