/* item-card.css */

.item-card {
  display: flex;        
  flex-direction: column;
  gap: var(--spacing-xs);            
  padding: var(--spacing-md);
  background-color: var(--card);
  border: 1px solid var(--border); 
  border-radius: var(--radius);
  cursor: pointer;      
  transition: background-color var(--transition-fast); 
  box-shadow: var(--shadow);
}

.item-card:hover {
  transform: scale(1.01);
  transition: transform var(--transition-fast);
}

.item-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  overflow: hidden;        
}

.item-card__title {
  font-weight: var(--font-weight-semibold);
  color: var(--primary);
  font-size: var(--font-size-base);
}

.item-card__id {
  /* font-weight: var(--font-weight-semibold); */
  color: var(--text);
  font-size: var(--font-size-sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card__date {
  font-size: var(--font-size-sm);
  color: var(--muted-fg);
}

