.search-results {
  padding: var(--spacing-md);
  background: var(--bg);
  max-height: calc(100vh - var(--search-section-height) - var(--navbar-height) - 42px);
  height: 100%;
  overflow-y: scroll;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--spacing-md);
}

@media (max-width: 768px) {
  .search-results {
    padding: var(--spacing-md);
  }
  
  .results-grid {
    grid-template-columns: 1fr;
  }
}
