/* search-result-card.css */

.search-result-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: var(--spacing-md);
  transition: box-shadow var(--transition-fast);
  max-width: 500px;
  min-height: 235px;
  gap: var(--spacing-xs);
}

.search-result-card:hover {
  box-shadow: var(--shadow-md);
}


.card-header__top {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  /* margin-bottom: var(--spacing-xs); */
}

.card-title {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--text);
}

.license-badge {
  background-color: var(--primary);
  color: var(--text-white);
  font-size: var(--font-size-xs);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
}

.provider-info {
  font-size: var(--font-size-sm);
  color: var(--muted-fg);
}


.description {
  font-size: var(--font-size-base);
  color: var(--text);
  margin-bottom: 0;
  line-height: var(--line-height-normal);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: var(--spacing-xs);
}

/* Tags */
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  max-height: 44px; /* Limit to 2 rows */
  overflow: hidden;
}

.tag {
  background-color: var(--muted-bg);
  color: var(--text);
  font-size: var(--font-size-xs);
  padding: 0 var(--spacing-sm);
  border-radius: var(--radius-sm);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--border);
}

.tag-more {
  background-color: var(--muted-bg);
  color: var(--muted-fg);
  font-style: italic;
}

/* Footer & Buttons */
.card-footer {
  display: flex;
  gap: var(--spacing-sm);
}
